.claim-form
    position: absolute
    z-index: 100
    background-color: white
    display: grid
    grid-template-columns: max-content max-content
    grid-auto-flow: row

    & > .info
        display: flex
        align-items: center
        svg
            margin: 0 5
        span
            margin: 10 0
            color: #4A4A4A
            font-size: 12


    & > .heading
        grid-column: 1 / 2
        font:
            family: ProductSansBold
            size: 30
    & > .close
        margin-left: 200
        justify-self: flex-end
        cursor: pointer
        grid-column: -2 / -1
        grid-row: 1 / 3
    & > div:nth-child(4)
        margin-top: 30
    & > div
        grid-column: 1 / -1
        .heading
            margin-left: 20
            font-size: 20
        select
            margin: 10 0 20 25

    select
        border-radius: 2px
        padding: 5 15
        cursor: pointer

    .submit
        background-color: $green_spring
        color: white
        justify-self: flex-start
        margin: 30 0 0 20
        padding: 6 30
        cursor: pointer
        border-radius: 2px
        font:
            size: 20
            family: ProductSansBold