.dash
	@import ./initial-form
	max-height: 100vh
	overflow: hidden
	display: grid
	grid-template-columns: min-content auto
	grid-template-rows: max-content 10fr
	font-family: ProductSansRegular
	.header
		grid-column: 1 / -1
		padding: 20 8vw
		display: grid
		grid-template-columns: max-content auto max-content
		align-items: center
		min-height: 8vh
		border-bottom: 1px solid $gray_platinum
		svg
			cursor: pointer
		.greeting
			margin-left: 100
			display: flex
			flex-flow: column
			font:
				family: ProductSansBold
				size: 25
				weight: 900
			.user
				font-size: 35
		.logout
			cursor: pointer
			font-size: 15
			background-color: $red
			padding: 10 20
			color: white
			border-radius: 100px
	
	.side-menu
		overflow: hidden
		height: 92vh
		border-right: 1px solid $gray_platinum
		width: max-content
		padding: 50 2vw 0 4vw
		.options
			min-width: 200
			.option
				align-items: center
				display: flex
				cursor: pointer
				margin-bottom: 30
				border-radius: 100px
				font:
					size: 18

				span
					padding: 7 20


				svg
					margin-right: 20

				&.selected
					span
						background-color: $gray_platinum
						border-radius: 100px
						transition: all .2s

	.claims, .account, .overview, .wallet, .blockchain, .pay-premium, .add-wallet
		overflow: auto
		display: flex
		flex-flow: column
		padding: 30 0 0 50
		align-self: flex-start
		// max-width: max-content
		& > .heading
			font:
				size: 30
				family: ProductSansBold
		& > .info
			display: flex
			align-items: center
			svg
				margin: 0 5
			span
				margin: 10 0
				color: #4A4A4A
				font-size: 12

	.overview
		.options
			padding-top: 20
			.insurance
				margin-bottom: 20
				.heading
					margin-bottom: 10
				.details
					.status
						display: flex
						align-items: center
						cursor: default
						width: max-content
						padding: 1 8 1 8
						border-radius: 3px
						margin-bottom: 10
						svg
							margin-right: 2
							padding: 4
							border-radius: 2px

						&.INSURED
							svg
								background-color: $green_forest
						&.EXPIRED
							svg
								background-color: $red
						span
							border-radius: 100px
							padding: 2 7 2 7
							&.INSURED

						font:
							size: 12
							weight: 900
						span
							margin-right: 5
					.claim-details
						padding-left: 5
						margin-bottom: 15
						font-size: 20
						span
							margin-right: 5
							font-weight: 900
					.next-premium
						padding-left: 5
						align-self: center
						cursor: pointer
						label
							cursor: pointer
							display: block
							font:
								size: 14
								weight: 900
						span
							font:
								size: 12
								weight: 500
							margin-right: 10
			.insurance, .weather
				& > .heading
					max-width: max-content
					border-bottom: 1px solid $gray_platinum
					font:
						family: ProductSansBold
						size: 20
				.details
					max-width: max-content

			.weather
				.heading
					margin-bottom: 20
				&.loading .details
					background-color: $orange_pumpkin
				&.err .details
					background-color: $red

				.details
					padding: 20
					color: white
					min-width: 200
					cursor: pointer
					max-width: max-content
					padding: 20 40 20 40
					border-radius: 5px
					background-color: #1DA4ED
					transition: background-color .2s
					.condition
						margin-top: 20
						font-size: 18
					& > div
						margin: 10 0
						display: flex
						align-items: center
						font:
							weight: 900
							size: 22
						span
							margin-left: 20
					.heading
						font:
							size: 20
							weight: 900

	.claims
		@import ./claim-form
		.options
			margin: 20 0 0 10
			.option:first-of-type
				svg
					margin-right: 10
					& path
						transition: .3s all
						fill: $black_rich
				border: 1px solid $black_rich
				border-radius: 2px
				background-color: white
				color: $black_rich
				padding: 5 15
				margin-bottom: 20
				transition: .3s background-color
				&:hover
					transition: .15s background-color
					background-color: $black_rich
					color: white
					svg path, svg
						fill: white
			.option
				font-size: 14
				width: max-content
				cursor: pointer
				.heading
					padding: 0 10 5 0
					font-size: 20
					border-bottom: 1px solid $gray_platinum
		.claim-list
			padding: 10 0 150 10
			display: flex
			flex-flow: column
			overflow: auto
			& > .loading, & > .none
				span
					margin-left: 10
					font-size: 20
			.claim
				display: grid
				grid-template-columns: repeat(2, max-content)
				grid-template-rows: repeat(2, max-content)
				cursor: pointer
				border-radius: 2px
				color: white
				width: max-content
				margin: 10 0
				padding: 10 20
				&.processing
					background-color: $orange_pumpkin
					transition: .3s
					&:hover
						transition: .1s
						background-color: #FF623A
				&.error
					background-color: $red
					transition: .3s
					&:hover
						transition: .1s
						background-color: #FF331E
				&.success
					background-color: $green_spring
					transition: .3s
					&:hover
						transition: .1s
						background-color: #1BCA3B

				.survey
					font:
						size: 25
						weight: 900
				.details
					align-self: flex-end
					margin-left: 20
					grid-column: -2 / -1
					grid-row: 1 / -1
					color: #E1E1E1
					font-size: 16
					&:hover
						color: white

	.account
		.options
			margin-left: 10
			.option
				.heading
					font:
						family: ProductSansBold
					padding: 20 20 5 0
					width: max-content
					font-size: 20
					border-bottom: 2px solid $gray_platinum
				.h
					font:
						size: 16
					margin: 15 0 0 10
				.v
					cursor: pointer
					padding: 8 15
					width: min-content
					border: 1px solid $gray_platinum
					border-radius: 1px
					margin: 15 0 0 10
					letter-spacing: 2px
					font:
						family: monospace
						size: 15
					transition: all .3s
					&:hover
						transition: all .15s
						background-color: #FAFAFE
				.dd
					cursor: pointer

	.wallet
		.options
			margin-left: 10
			.option
				.heading
					padding: 25 20 5 0
					width: max-content
					font-size: 20
					border-bottom: 2px solid $gray_platinum
				.val
					margin: 10 0 0 5
					font:
						family: ProductSansBold
						size: 30

				.transaction-history
					margin-top: 10
					box-sizing: border-box
					width: max-content
					th
						border-radius: 3px
						font:
							size: 20
							family: Varela
						background-color: black
						color: white
						padding: 10 10 10 10
					tr 
						background-color: $gray_platinum
						text-align: center

					tr:nth-child(even)
						background-color: #C8C8C8
					td
						font-size: 16
						padding: 10 10 10 10
						

	.pay-premium
		.options
			padding-left: 30
			.total
				margin: 20 0 30 0
				display: flex
				flex-flow: column
				.heading
					margin-bottom: 10
					font:
						size: 16
						weight: 900
					padding: 0 20 5 0
					max-width: max-content
					border-bottom: 2px solid $gray_platinum
				.value
					margin: 5 0
					cursor: pointer
					display: flex
					font:
						family: ProductSansBold
						size: 25
			& > .insurance-info
				display: grid
				grid-template-columns: repeat(2, max-content)
				grid-auto-rows: max-content
				color: #5A5A5A
				margin: 0 0 30 20
				.edit
					width: min-content
					font-size: 13
					background-color: #5A5A5A
					border-radius: 3px
					color: white
					margin-left: 20
					padding: 3 15
					cursor: pointer
					grid-column: -2 / -1
					transition: .3s background-color
					&:hover
						background-color: #3A3A3A
						transition: .15s background-color
				& > .heading
					align-self: center
					font:
						family: ProductSansRegular
						size: 14
					&.non-edit
						grid-column: 1 / -1
				
				.location, .coverage, .interval
					padding-top: 15
					.heading
						color: black
						font:
							family: ProductSansBold
							size: 24

			.submit
				cursor: pointer
				font:
					family: ProductSansBold
					size: 18
				background-color: $blue_celtic
				padding: 10 40
				color: white
				border-radius: 2px
				width: min-content
				transition: .3s all
				&:hover
					transition: .15s all
		            background-color: black

		.payment-details
			display: flex
			flex-flow: column
			max-width: max-content
			.next-premium
				margin: 15 0 0 5
				font-size: 20
				.date
					font:
						size: 20
						weight: 900
			.pay
				cursor: pointer
				width: max-content
				margin: 15 0 0 5
				padding: 5 10
				border-radius: 2px
				background-color: $blue_celtic
				color: white

		.transaction-details
			margin: 15 0 0 5
			& > .heading
				font:
					size: 22
					weight: 900
				border-bottom: 2px solid $gray_platinum
				padding: 0 20 5 0
				max-width: max-content
			& > .options
				padding-left: 10
				display: flex
				flex-flow: column
				.heading
					margin-top: 15
					font:
						size: 20
						weight: 900

			.back
				background-color: $blue_celtic
				margin-top: 20
				max-width: max-content
				padding: 5 10
				border-radius: 3px
				color: white
				cursor: pointer


	.add-wallet
		.options
			padding-left: 40
			input
				width: 40ch
				display: block
				cursor: pointer
				border: 1px solid $gray_platinum
				background-color: white
				padding: 8 15
				border-radius: 2px
				margin-top: 30
				font:
					family: MavenProMedium
					size: 15
				transition: .3s all

				&:hover, &:focus
					background-color: #F8F8FF
					transition: .15s all

			.submit
				margin-right: 20
			.submit, .dev-keys
				cursor: pointer
				background-color: $blue_celtic
				margin-top: 50
				color: white
				padding: 10 40
				border: 0
				border-radius: 2px
				font:
					family: ProductSansBold
					size: 18
				&.disabled
					cursor: not-allowed
					background-color: $gray_platinum

@media (max-width: 640px)
	.dash
		.header
			padding: 10 10
			.greeting
				margin-left: 30
				align-items: center
			

