.dash
	height: 100%
	display: grid
	grid-template-columns: min-content auto
	grid-template-rows: max-content auto
	font-family: MontserratRegular
	.nav
		grid-column: 1 / -1
		padding: 20 8vw
		display: flex
		justify-content: space-between
		align-items: center
		min-height: 8vh
		border-bottom: 1px solid $gray_platinum
		.greeting
			font:
				family: MontserratBold
				size: 40
		.logout
			cursor: pointer
			font-size: 12
			background-color: $red
			padding: 5 20
			color: white
			border-radius: 100px
	
	.side-menu
		height: 100%
		border-right: 1px solid $gray_platinum
		width: max-content
		padding: 50 2vw 0 4vw
		.options
			min-width: 200
			.option
				align-items: center
				display: flex
				cursor: pointer
				padding: 10 20
				margin-bottom: 10
				border-radius: 100px
				font:
					size: 18

				svg
					margin-right: 20

				&.selected
					background-color: $gray_platinum

	.claims, .account, .overview, .wallet, .blockchain
		display: flex
		flex-flow: column
		padding: 20 0 0 30
		.heading
			font:
				size: 30
				family: MontserratBold
		.info
			display: flex
			align-items: center
			svg
				margin: 0 5
			span
				margin: 10 0
				color: #4A4A4A
				font-size: 12

	.claims
		@import ./claim-form
		.options
			margin: 20 0 0 10
			.option:first-of-type
				svg
					margin-right: 10
					fill-rule: evenodd
					& path
						fill-rule: evenodd
						fill: $black_rich
				border: 2px solid $black_rich
				border-radius: 3px
				background-color: white
				color: $black_rich
				padding: 5 15
				margin-bottom: 20
				&:hover
					background-color: $black_rich
					color: white
					svg path, svg
						fill: white
			.option
				font-size: 14
				width: max-content
				cursor: pointer
				.heading
					padding: 0 10 5 0
					font-size: 20
					border-bottom: 1px solid $gray_platinum

	.account
		.options
			margin-left: 10
			.option
				.heading
					padding: 20 20 5 0
					width: max-content
					font-size: 20
					border-bottom: 2px solid $gray_platinum
				.h
					font:
						family: HammersmithOne
						size: 17
					margin: 15 0 0 10
				.v
					padding: 10 20
					width: min-content
					background-color: #F6F6F0
					margin: 5 0 0 10
					font:
						family: monospace
						size: 15
				.dd
					cursor: pointer

	.wallet
		.options
			margin-left: 10
			.option
				.heading
					padding: 25 20 5 0
					width: max-content
					font-size: 20
					border-bottom: 2px solid $gray_platinum
				.val
					margin: 10 0 0 5
					font:
						family: MontserratBold
						size: 30

				.transaction-history
					margin-top: 10
					box-sizing: border-box
					border-radius: 3px
					padding: 10 10 5 10
					width: max-content
					background-color: $gray_platinum
					.headers
						font:
							size: 15
							family: Varela
						display: grid
						grid-template-columns: 120px repeat(4, 100px)
						span
							justify-self: flex-start
							padding-left: 20

	.configure
		margin: 20 0 0 40
		.heading
			font:
				family: MontserratBold
				size: 35
		.info
			display: flex
			align-items: center
			margin: 5 0 0 5
			font-size: 12
			svg
				margin-right: 5

		.inputs
			display: grid
			grid-auto-flow: row
			margin: 20 0 0 5
			& > *
				width: max-content
			.subheading
				width: max-content
				border-bottom: 1px solid $gray_platinum
				margin: 20 0 5 0
				font:
					family: MontserratBold
					size: 23
			input, select
				cursor: pointer
				border: 1px solid $gray_platinum
				background-color: white
				margin-left: 10
				padding: 8 15
				border-radius: 2px
				font:
					family: MavenProMedium
					size: 15

				transition: .3s all

				&:hover, &:focus
					background-color: #F8F8FF
					transition: .15s all
			label
				display: inline
				margin: 10 0 10 10
				font-size: 17
			#period
				border: 0
				border-bottom: 2px solid $gray_platinum
				background-color: white
				font:
					family: MontserratBold
					size: 20
				width: 5ch
				padding: 0 0 5 5
				margin-left: 20
			.readable
				font:
					family: MontserratBold
					size: 25
				margin-left: 20

		.submit
			cursor: pointer
			width: max-content
			background-color: $green_spring
			margin-top: 50
			color: white
			padding: 10 40
			border-radius: 2px
			border: 0
			font:
				family: MontserratBold
				size: 18