
$black_rich: #050505
$black_raisin: #232323
$orange_pumpkin: #FF723A
$gray_platinum: #E8E8E8
$blue_dodger: #3590f3

input
	border-width: 0px
	appearance: none
	outline: none

html, body, #react-app, .app
	margin: 0
	padding: 0
	height: 100vh
	width: 100vw

@import fonts
@import app
